@import './partials/variables.scss';
/* - - - - - - - - - - - 
    reset
- - - - - - - - - - - - */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* - - - - - - - - - - - 
    containers
- - - - - - - - - - -  */
.container {
    margin: 0 auto;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* - - - - - - - - 
    fonts 
- - - - - - - - - */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap');


/* - - - - - - - -
    commons 
- - - - - - - - - */
body {
    font-family: 'Oswald', sans-serif;
}
/* - - - - - - - -
    typo
- - - - - - - - - */
h3 {
    color: $text-light;
    text-transform: $text-uppercase;
}